<div>

  <input type="text" class="delivery" name="delivery" placeholder="Location #<%= index %> Address Coordinates" data-index=<%= index %> readonly >

  <%- include("blueMarker", {index: index }) %>

</div>
