<section id="navbar">
	<nav class="navbar navbar-expand-lg navbar-dark">
	  <div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav mx-auto nav-font">

			<% if (page === "main") { %>
				<a class="nav-link active" aria-current="page" href="/">Home</a>
				<a class="nav-link" href="about">About Us</a>
				<a class="nav-link" href="contact">Contact</a>
			<% } else if (page === "about") { %>
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link active" aria-current="page" href="about">About Us</a>
				<a class="nav-link" href="contact">Contact</a>
			<% } else if (page === "contact") { %>
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="about">About Us</a>
				<a class="nav-link active" aria-current="page" href="contact">Contact</a>
			<% } else { %>
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="about">About Us</a>
				<a class="nav-link" href="contact">Contact</a>
			<% } %>

		  </div>
		</div>
	  </div>
	</nav>
  </section>
