<!DOCTYPE html>
<html lang="en">
<head>
	<!-- METADATA -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="PICTURE-PREVIEW">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<!-- METADATA -->
	
	<title>Project Title</title>

	<link rel=icon href="FAVICON-DARK" media="(prefers-color-scheme: light)" type="image/png">

	<link rel=icon href="FAVICON-LIGHT" media="(prefers-color-scheme: dark)" type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- GOOGLE FONTS -->

	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->

	<!-- CUSTOM STYLESHEETS -->
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- CUSTOM STYLESHEETS -->
</head>
<body>
	<!-- HTML code here -->
	<section class="test">
		<div class="container">
			<div class="test-text">
				<div>
					<p class="hero-title">Hello World!</p>
					<p class="hero-text">This boilerplate is created by Fabian Railey Victuelles</p>
				</div>
				<div>
					<p class="body-title">With Media Queries!</p>
					<p class="body-text">The red border from all sides is the custom container that I built.</p>
					<p class="body-text">The container resizes from 60% - 100% based on the max widths of 1200px, 1024px, 768px, and 480px</p>
				</div>
			</div>
			<div class="test-buttons">
				<a class="button-dark" href="#"><i class="fa-solid fa-eye"></i> Repository</a>
				<a class="button-dark" href="#"><i class="fab fa-github"></i> GitHub</a>
			</div>
		</div>
	</section>











	<!-- SCRIPTS -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<!-- SCRIPTS -->
</body>