@media (max-width: 768px) {
	.container {
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
	.hero-title {
		color: black;
		font-size: 4em;
		font-weight: bold;
		margin: 1em 0;
	}
	.hero-text {
		color: black;
		font-size: 1.2em;
		margin: 1em 0;
	}
	.body-title {
		color: black;
		font-size: 1.2em;
		font-weight: bold;
	}
	.body-text {
		color: black;
		font-size: 1em;
	}
}

