@media (max-width: 480px) {
	.container {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.hero-title {
		color: black;
		font-size: 3em;
		font-weight: bold;
		margin: 1em 0;
	}
	.hero-text {
		color: black;
		font-size: 1em;
		margin: 1em 0;
	}
	.body-title {
		color: black;
		font-size: 1em;
		font-weight: bold;
	}
	.body-text {
		color: black;
		font-size: .8em;
	}
}


